{{- if .Values.elasticsearch-exporter.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-elasticsearch-exporter
  labels:
    app: {{ template "efk.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  ELASTICSEARCH_URL: {{ template "efk.elasticsearch.url" . }}
{{- end }}
